body{
    /*background-color: #3fb0ac;*/
    background-color: #78cfcc;
    font-family: Alef, sans-serif;
    height: 100vh;

}

select{
    text-align-last: center;
}

.btn-center{
    display: block;
    margin: auto;
}

.btn-table{
    height:50px;
    width:50px;
    margin: 5px;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
}

.btn-gray{
    background: #ddd;
    border-color: #999;
    color: white;
}
.btn-gray:hover{
    background: #ddd;
    border-color: #999;
    color:white;
}

#logo-container{
    height: 40vh;
    width:100%;
    margin: auto;
    background-image: url("logo.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


.btn-gray:focus{
    color:white;
}

.debugButton{
    position: absolute;
    width: 40vw;
    margin: 10vh 0;
    bottom: 0;
    left: 30vw;
}

#mainView{
    padding: 20px 20px;
    color: black;
}
header{
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background: #173e43;
    color: white;
    font-size: 30px;
    line-height: 30px;
}

input.loginForm{
    width: 100%;
    height: 45px;
    padding: 10px;
    border: none;
}
input[type="button"]{
    background: #FAE596;
    font-weight: bold;
    font-size: 20px;
    border: none;
}
#loginForm{
    margin: 30px 0;
}
#loginFailResponse{
    margin-top: 20px;
    color: red;
}
#cancelReservationBtn{
    min-width: 100%;
    height: 50px;
}

#reservationPage{

}

#filterForm select, #filterForm button{
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    font-weight:bold;
    border: none;
    border-radius: 0;
    width: 100%;
}

#filterForm button{
    background: #FAE596;
}
#filterForm button[disabled]{
    opacity: 1;
    background: #fff6d5;
}
.textWrapper{
    background: white;
    padding: 10px;
    margin: 0;
}
header{
    display: flex;
}
.headerLoginContainer{
    width: 10%;
    padding: auto;
    font-size: 17px;
    line-height: 40px;
}
#headerTitle{
    width: 80%;
}